<div class="card mb-4">
    <div class="card-header" style="background-color: #F8F8FF; color: #333;">
        <i class="fas fa-bars me-2"></i> Menu Admin
    </div>
    <div class="list-group list-group-flush">
        <a href="{{ url_for('admin.dashboard') }}" 
           class="list-group-item list-group-item-action">
           <i class="fas fa-tachometer-alt me-2"></i> Tableau de bord
        </a>
        <a href="{{ url_for('offres.admin.list') }}" 
           class="list-group-item list-group-item-action">
           <i class="bi bi-briefcase me-2"></i> Offres d'emploi
        </a>
        <a href="{{ url_for('entreprises.list') }}" 
           class="list-group-item list-group-item-action">
           <i class="bi bi-building me-2"></i> Entreprises
        </a>
        <a href="{{ url_for('admin.users.list') }}" class="list-group-item list-group-item-action">
           <i class="fas fa-users me-2"></i> Utilisateurs
        </a>
        <a href="#" class="list-group-item list-group-item-action">
           <i class="fas fa-cog me-2"></i> Paramètres
        </a>
        <form action="{{ url_for('logout') }}" method="POST" class="list-group-item">
                <button type="submit" class="btn btn-danger w-100">
                    <i class="fas fa-sign-out-alt me-2"></i> Déconnexion
                </button>
            </form>
    </div>
</div>